@model LeaveManagementSystem.Models.EmployeeModel
@{
    ViewBag.Title = "EmployeeRegistration";
}

<h2>EmployeeRegistration</h2>

@using (Html.BeginForm("EmployeeRegistration", "Employee", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    <table>
        <tr>
            <td>
              

            </td>
            </tr>
        </table>
}
